html { height: 100%; }

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url(assets/images/funny-landscape.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
nav a {
	width: 130px;
	text-align: center;
	margin-inline: 25px;
	margin-block: 5px;
	padding: 15px;
	font-family: "El Messiri";
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
	background-color: #eb9f87;
	border-radius: 50px;
	color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}

nav a:hover {
	background-color: #a6a7aa77;
	color: beige;
}



.selected {
	
	background-color: #a6a7aa77;
	color: beige;
}

h1 {
    font-family: "El Messiri";
    font-size: clamp(38px, 7.5vw + 1rem, 86px);
    text-align: center;
    margin-bottom: 0;
}

header {
	display: flex;
	align-items: center;
	justify-conent: center;
	flex-direction: column;
}

main p {
	max-width: 680px;	
	font-size: 25px;
	font-family: "Tajawal";
	margin-inline: auto;
	margin-block: 50px;
	background-color: #7ebfb380;
	border-radius: 10px;
	color: #000;
	padding: 20px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

main {
	max-width: 680px;
	padding: 20px;
	margin-inline: auto;
}

main h2 {
	color: #000;
	padding: 20px;
}

li {font-size: 25px;}

.list-img {
	display: flex;
	justify-content: center;
	font-size: 25px;
	font-family: "Tajawal";
	margin-inline: auto;
	margin-block: 50px;
	background-color: #7ebfb380;
	border-radius: 10px;
	color: #000;
	padding: 20px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.list-img img {width: 200px; height: 200px;}

.button {
	margin-inline: auto;
	width: 200px;
	text-align: center;
	padding: 15px;
	font-family: "El Messiri";
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;
	background-color: #eb9f87;
	border-radius: 50px;
	color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}

/* .custom-nav {
    width: 130px;
    text-align: center;
    margin: 5px 25px;
    padding: 15px;
    font-family: "El Messiri";
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    background-color: #eb9f87;
    border-radius: 50px;
    color: #fff !important; /* Ensure Bootstrap doesn't override text color 
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15),
                0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}


.selected {
    padding: 20px;
    font-size: 30px;
    background-color: #c7846f;
    color: beige !important;
}

.button:hover { color: beige; background-color: #c7846f;} */

ul {
	margin-inline: auto;
}

ul p { 
	font-size: 24px;
	font-weight: bold;
}

.image-below {
	position: relative;
	left: 500px;
	width: 250px;
	height: 250px;
}

form {
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	background-color: #7ebfb380;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	font-size: 25px;
  	font-family: "Tajawal";
	padding: 20px;
	border-radius: 25px;
}

form > * { margin-block:6px; width: 420px;}

footer {
    margin-top: auto;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    font-family: "El Messiri";
    font-size: 28px;
    color: #fff;
    padding: 30px;
}

footer a { color: #fff; text-decoration: none; }
footer a:hover { color: beige; text-decoration: underline; }

@media (orientation: portrait) {

	nav a {
		margin: 4px;
		font-size: 20px;	
		width: 99px;
		text-align: center;
	}
	
	img {
	left: 250px;
	width: 150px; 
	height: 150px;
}

	.footerColumn {font-size: 15px;}

	ol {padding: 0;}

}

textarea {resize: none;}
